.main-total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.total-item,
.total-item-2,
.total-item-3,
.total-item-4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 322px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.25);
  background-color: rgb(212, 212, 212, 0.1);
  backdrop-filter: blur(15px);
}

.total-item .rate {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(2, 177, 90, 0.4);
  width: 63px;
  height: 23px;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(4, 235, 50, 0.8);
}

.total-item-2 .rate-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(245, 39, 2, 0.4);
  width: 63px;
  height: 23px;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(232, 129, 105, 0.8);
}

.total-item .rate p {
  color: rgba(4, 235, 231);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-shadow: 0 0 10px rgba(4, 235, 112, 0.8);
}

.total-item-2 .rate-2 p {
  color: rgb(237, 183, 47);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-shadow: 0 0 10px rgba(235, 162, 4, 0.8);
}

.visits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 135px;
  height: 56px;
  gap: .3rem;
}

.active-users,
.total-clicks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  color: #fff;
}

