.user-statistics {
  display: flex;
  justify-content: space-between;
  margin: 20px 70px 40px 70px;
}

.user-traffic-main {
  width: 1010px;
  height: 460px;
  border-radius: 10px;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.25);
  background-color: rgb(212, 212, 212, 0.1);
  backdrop-filter: blur(15px);
}

.header-user-traffic {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.header-user-traffic h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  color: rgb(228, 222, 222);
  font-weight: 700;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.user-signup,
.user-subscribed,
.year-button {
  color: rgb(228, 222, 222);
}

/* blue box */
.header-right .user-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  font-size: 13px;
}
.user-signup .blue-box {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: rgb(28, 113, 232);
  box-shadow: 0 0 15px rgba(4, 231, 235, 0.8);
  margin-right: 0.7rem;
}

/* red box */
.header-right .user-subscribed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  font-size: 13px;
}
.user-subscribed .red-box {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: rgb(190, 58, 54);
  box-shadow: 0 0 15px rgba(235, 131, 4, 0.8);
  margin-right: 0.7rem;
}

/* year button */
.header-right .year .year-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  width: 133px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid rgba(174, 171, 216, 0.4);
  background-color: rgb(5, 10, 38, 0.2);
  transition: 0.2s ease;
}
.header-right .year .year-button p {
  margin-left: 0.3rem;
  color: rgb(228, 222, 222);
}

.header-right .year .year-button:hover {
  border: 1px solid rgba(174, 171, 216, 0.8);
  background-color: rgba(33, 44, 99, 0.2);
}

.header-right .year .year-button .material-symbols-outlined {
  color: rgb(166, 160, 160);
  transition: 0.2s ease;
}

.header-right .year .year-button .material-symbols-outlined.up {
  transform: rotate(180deg);
}

/* dropdown content */
.header-right .year .dropdown-year {
  display: flex;
  flex-direction: column;
  color: rgba(174, 187, 218, 1);
  margin: 0.3rem 0;
  position: absolute;
  min-width: 133px;
  z-index: 1;
}

.header-right .year .dropdown-year a {
  font-size: 12px;
  color: rgba(174, 187, 218, 1);
  background-color: rgb(5, 10, 38, 0.2);
  padding: 8px 16px;
  margin: 0.2rem 0;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid rgba(174, 171, 216, 0.4);
  display: block;
}
.header-right .year .dropdown-year a:hover {
  background-color: rgba(33, 44, 99, 0.2);
}
