*{
    box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgba(6, 11, 39, 1);
}

ul,
ol {
  list-style: none;
}
